@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
  }
  
  .calc {
    position: relative;
    display: grid;
  }
  
  .calc .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
  }
  
  .calc span {
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
  }
  .calc span:active {
    background: #74ff3b;
    color: #111;
  } 
  /* special buttons */
   #plus {
    height: 120px;
    color: #fff;
    background: #00b7ff;
    grid-row: 3 / span 2;
    grid-column: 4;
  }
  #plus:active {
    background: #74ff3b;
    color: #111;
  }
  #res {
    height: 120px;
    color: #fff;
    background: #db06e2;
    grid-row: 5 / span 2;
    grid-column: 4;
  }
  #res:active {
    background: #74ff3b;
    color: #111;
  }
  #zer {
    width: 124px;
    color: #fff;
    background: #db06e2;
    grid-row: 6 / span 2;
    grid-column: 1 / span 2;
  }
  #zer:active {
    background: #74ff3b;
    color: #111;
  }